<div class="jumbotron">
    <h1>Bookstore API</h1>
    <p class="lead"><p>Background – Given a bookstore API that tracks the follow simplified data:</p>

    <h4>Questions</h4>
    <p> - Design the API representation that expresses the Book object (Consider hypermedia, HAL, and HATEOAS).</p>
    <a href="http://localhost:4000/Help"> API Documentation</a>
    <p> - Provide a collection of RESTful URLs to GET these resources.</p>
    <a href="http://localhost:4000/swagger"> API Test</a>
    <p> - What URL would you use to fetch  list of the first 10 books by "Scott Adams" in the "Audio Book" category?</p>
    <p>By Using oData &Top=10 and $filter=AuthorId&CategoryId</p>
    <a href="http://localhost:4000/odata/BooksOdata?$top=10&$filter=AuthorId%20eq%203&CategoryId%20eq%206">URL Example</a>
    <br />
    <br />
    <br />
    <br />
    <a href="https://www.linkedin.com/in/hameed-goudat-0311295b?trk=nav_responsive_tab_profile">Hameed Goudat</a>
</div>

